.feed_card {
  width: 100%;
  height: 75px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 5px;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0 0 0 / 19%);
  margin-bottom: 10px;
}

