/* Corbel */
@font-face {
  font-family: Corbel;
  src: url("/fonts/corbel.ttf");
  font-display: swap;
}

@font-face {
  font-family: Corbel;
  font-weight: bold;
  src: url("/fonts/corbel_bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Corbel;
  font-style: italic;
  src: url("/fonts/corbel_italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: Corbel;
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/corbel_bold_italic.ttf");
  font-display: swap;
}

/* Consolas */
@font-face {
  font-family: Consolas;
  src: url("/fonts/consolas.ttf");
  font-display: swap;
}

/* Calibri */
@font-face {
  font-family: Calibri;
  src: url("/fonts/calibri.ttf");
  font-display: swap;
}

@font-face {
  font-family: Calibri;
  font-style: italic;
  src: url("/fonts/calibri_italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: Calibri;
  font-weight: bold;
  src: url("/fonts/calibri_bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Calibri;
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/calibri_bold_italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: DejaVuSans;
  src: url("/fonts/DejaVu/DejaVuSans.ttf");
  font-display: swap;
}