html {
  background-color: rgb(28,28,28);
}

#topbar {
  width: 100%;
  border-bottom: 1px solid black;
  font: 16px calibri;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
  position: fixed;
  top: 0px;
}

body {
  font: 12px calibri;
  color: rgb(203,189,189);
  margin: 0px;
}

#topics {
  border-right: 1px solid black;
  position: fixed;
  top: 30px;
  height: 100%;
  width: 11.127596439169139%;
}

#topic-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  transition-duration: 4s;
}

#content {
  margin-top: 32px;
  position: fixed;
  left: 11.127596439169139%;
  margin-left: 10px;
}

.topic {
  height: 30;
  border-bottom: 1px solid black;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  transition-duration: 0.4s;
}

.topic:hover {
  background-color: rgb(35,35,35);
}

a {
  color: rgb(232,23,23);
  text-decoration:none;
  transition-duration: 0.4s;
}

a:visited {
  rgb(207,121,23);
}

a:hover {
  text-decoration:underline;
  color: rgb(207,121,23);
}

/* Scrollbar Stuffs */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(0,0,0,0);
  border-radius: 16px;
  width: 5px;
  transition-duration: 0.4s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 16px;
  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Handle on activated */
::-webkit-scrollbar-thumb:active {
  background-color: #444;
}