#recording_mode {
  border: 2px solid rgb(255,0,0);
  border-radius: 99px;
  height: 25.5px;
  width: 25.5px;
  background-color: rgb(0,0,0,0);
  padding: 0px;
}

#recording_mode:hover {
  border: 5px solid rgb(255,0,0);
  background-color: rgb(255,0,0);
}

#recording_mode_inner {
  border-radius: 99px;
  height: 10.5px;
  width: 10.5px;
  background-color: rgb(255,0,0);
  border: none;
  margin: auto;
}

#recording_mode_inner:hover {
  border: 3px solid rgb(255,0,0);
  border-radius: 99px;
  height: 10.5px;
  width: 10.5px;
  background-color: rgb(255,0,0);
  margin: auto;
}

#recording_menu {
  text-align: left;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.recording_menu_tab {
  border-radius: 0px;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.recording_menu_tab:hover {
  border-radius: 0px;
}

#recording_menu_dropdown {
  border-radius: 16px;
  border: 1px solid #000000;
  padding-top: 5px;
  background-color: rgb(35,35,35);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
}

.recording_menu_item {
  width: 100%;
  text-align: left;
  border-radius: 16px;
  border: none;
  background-color: rgb(36,36,36);
}

#recording_menu_dropdown_hide {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  border: none;
  position: fixed;
  display: flex;
  flex-direction: column;
}

#recording_menu_dropdown_hide:hover {
  background-color: transparent;
  border-radius: 0px;
  border: none;
}

.recording_menu_sep {
  background: rgb(24,24,24);
  height: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 16px;
}