#channels {
  border-top: none;
  border-left: none;
  width: 200px;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.channel {
  display: block;
  border-radius: 0px;
  border: none;
  height: 35px;
  align-items: top;
  text-align: left;
  width: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.channel:hover { border-radius: 0px; }

#serverlist-server-info {
  border-radius: 0px;
  align-items: center;
  text-align: left;
  width: 200px;
  height: 50px;
  border-left: none;
  border-top: none;
  padding-left: 6px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}

#serverlist-server-info:hover {
  border-radius: 0px;
}

.serverlist-server-icon {
  transition-duration: 0.4s;
  background-size: 50px;
  background-position: center;
}

.serverlist-server-icon:hover {
  border-radius: 10px;
}

.usericon {
  height: 50px;
  width: 50px;
  border-radius: 99px;
}

#server_userlist {
  position: fixed;
  right: 0px;
}

#topbar {
  position: fixed;
  top: 0px;
  left: 265px;
  right: 0px;
  height: 49px;
}

#account-stuff {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 271px;
  left: 0px;
  text-align: right;
  display: flex;
  font-family: corbel;
  font-size: 16pt;
}

#username_box {
  text-align: left;
}

.message_time {
  color: rgb(100,86,086);
  font-style: italic;
}