#loginform {
  border-radius: 8px;
  background-color: rgb(42,42,42,0.8);
  max-width: 800px;
  max-height: 600px;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgb(0,0,0,0.4);
  z-index: 1;
}

#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: transparent;
  flex-direction: column;
  justify-content: center;
}

html, body {
  height: 100%;
  margin: 0px;
  background-color: rgb(32,32,32);
  background-image: url("/login/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textbox {
  background-color: transparent;
  border: none;
  border-radius: 2px;
  height: 70%;
  outline: none;
  color: #e1e1e1;
  width: 90%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  font-family: DejaVuSans;
  font-size: 16pt;
}

.textbox_div {
  background-color: rgb(52,52,52,0.9);
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
  width: 67.5%;
  height: 40px;
  margin: 10px;
}

.navbtn {
  width: 67.5%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  border-radius: 2px;
  background-color: rgb(100,50,255);
  transition-duration: 0.4s;
  outline: none;
  border: none;
  color: #e1e1e1;
  font-weight: bold;
  font-size: 12pt;
  user-select: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbtn:hover {
  background-color: rgb(150,100,255);
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

a {
  font-family: DejaVuSans;
  color: #e1e1e1;
  transition-duration: 0.4s;
  text-decoration: none;
  user-select: none;
}

a:hover {
  color: rgb(150,100,255);
}

#welcome {
  font-family: DejaVuSans;
  font-size: 32pt;
  color: #e1e1e1;
  user-select: none;
}

#dragonfly {
  font-size: 16pt;
}

.loading {
  /*border: 16px solid #f3f3f3; /* Light grey */
  border: 4px solid transparent;
  /*border-top: 16px solid #3498db; /* Blue */
  border-top: 4px solid #3498db; /* Blue */
  border-bottom: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.counter {
  align-self: flex-end;
  margin-right: 5px;
  align-self: center;
  user-select: none;
  color: #e1e1e1;
  font-family: DejaVuSans;
}

#err {
  color: #ff0000;
  font-family: DejaVuSans;
  width: 70%;
  justify-content: center;
}