html, body {
  background-color: rgb(42,42,42);
  margin: 0px;
}

#serverlist {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 4px;
  height: 100%;
  border-right: 2px solid #1e1e1e;
}

#channel_list {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  width: 20%;
  border-right: 2px solid #1e1e1e;
}

#channel-list-header {
  position: sticky;
  margin-left: 70px;
  width: 100%;
  height: 7.5%;
  border-bottom: 2px solid #1e1e1e;
  color: #e1e1e1;
  font-family: Corbel;
}

.serverlist-item {
  border-radius: 100%;
  transition-duration: 1s !important;
  transition: 1s !important;
  border: none;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  align-items: center;
}

.serverlist-item:hover {
  border-radius: 10px;
  border 1px solid rgb(0,155,0);
  box-shadow: 0px 0px 5px rgb(0,185,0);
}

.serverlist-notif {
  width: 5px;
  border-radius: 25px;
  transition-duration: 0.5s;
  display: inline-block;
  margin-right: 0px;
}

.serverlist-notif-small {
  height: 20px;
}

.serverlist-notif-large {
  height: 50px;
  margin-top: 3px;
}

.serverlist-item-span {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

#serverlist-server-info:hover {
  border-radius: 0px;
}

.serverlist-server-icon {
  transition-duration: 0.4s;
  background-size: 50px;
  background-position: center;
  background-color: rgb(62, 62, 62);
}

.serverlist-item-title {
  color: #e1e1e1;
  font-family: Corbel;
  font-size: 10pt;
}