/* Main */
body, html {
  font-family: Corbel;
  font-size: 10pt;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
  
form, p, span {
  margin: 0px;
  padding: 0px;
  font-family: Corbel;
}

a {
  color: #e1e1e1 !important;
  transition-duration: 0.4s;
  text-decoration: none;
  user-select: none;
}

a:hover {
  color: rgb(150,100,255) !important;
}
  
#wrapper {
  padding-bottom: 15px;
  margin: auto;
  background: transparent;
  width: auto;
  border: 0px solid #000000;
  height: 100%;
  right: 0px;
  position: fixed;
  left: 270px;
}

.wrapper-showing {
  display: inline-block;
}

#chatbox, #feedwrapper {
  text-align: left;
  margin: auto;
  background: transparent;
  word-wrap: break-word;
  font-family: Calibri;
  overflow-x: hidden;
  overflow-y: auto;
  right: 0px;
  position: fixed;
  left: 270px;
  top: 50px;
  padding-left: 55px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  bottom: 30px;
  justify-content: flex-end;
}

#mainpage-content-box {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 16px;
  border: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  box-shadow: 0px 0px 20px black;
  background-color: rgb(42,42,42,0.8);
}

#chatbox-full {
  display: inline-block;
  left: 270px;
  overflow-y: auto;
}

#chatbox-userimages {
  overflow: hidden;
  width: 50px;
  background-color: #FFFFFF;
  height: 100%;
  left: 270px;
}

#usrmsg {
  border: 1px solid #ACD8F0;
}

  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }

.textbox {
  border: none;
  height: 20px;
  border-radius: 4px;
  outline: none;
  overflow: auto;
  word-wrap: break-word;
}

#messageboxwrapper {
  border: none;
  height: 20px;
  border-radius: 10px;
  outline: none;
  margin-left: 5px;
  display: flex;
  position: fixed;
  bottom: 3px;
  right: 0px;
  text-align: right;
  left: 270px;
  margin-right: 5px;
  align-items: flex-end;
}

#msg {
  border-radius: 10px;
  margin-left: 5px;
  width: 100%;
  font-family: sans-serif;
  height: 20px;
  resize: none;
}

#sendbutton {
  border-radius: 10px;
  right: 0px;
  height: 20px;
}

.messagecommand_delete {
  font-size: 8pt;
  text-align: right;
  float: right;
  padding-left: 3pt;
}

.messagecommand_copy {
  padding-left: 3pt;
  font-size: 8pt;
  text-align: right;
  float: right;
}

.context-menu {
  position: absolute;
  z-index: 10;
  display: none;
  border-radius: 16px;
  height: 100%;
}

.context-menu-active {
  display: block;
}

#serverlist-container {
  text-align: left;
  border-right: 1px solid #000000;
  margin-left: 0px;
  padding: 0px;
  width: 70px;
  padding-bottom: 5px;
  display: block;
  /*height: 100%;*/
  top: 0px;
  bottom: 60px;
}

#serverlist {
  margin-top: 60px;
  overflow-x: hidden;
  overflow-y: auto;
}

.serverlist-item {
  border-radius: 99px;
  transition-duration: 0.4s;
  border: none;
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  align-items: center;
}

.serverlist-item:hover {
  border-radius: 10px;
}

.serverlist-notif {
  width: 5px;
  border-radius: 25px;
  transition-duration: 0.5s;
  display: inline-block;
  margin-right: 0px;
}

.serverlist-notif-small {
  height: 20px;
}

.serverlist-notif-large {
  height: 50px;
  margin-top: 3px;
}

.serverlist-item-span {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.context-menu-linebreak {
  border: 1px solid #000000;
}

.context-menu-items {
  list-style-type: none;
}

#username_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

#topbar {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  text-indent: 15px;
  font-size: 12pt;
  z-index: 1;
}

.fullmessage {
  transition-duration: 0.4s;
  padding-left: 3px;
  padding-top: 2px;
  border-radius: 16px;
}

#chatpage_chat_title {
  color: rgb(203,189,189);
}

#chatpage_chat_title:hover {
  color: rgb(203,189,189);
  text-decoration: none;
}

#joincode, #extjoinurl {
  font-family: consolas;
  margin-left: 10px;
  margin-right: 10px;
}

.joinserverbtn {
  width: 175px;
}

.center {
  text-align: center;
}

#joinextserverbtn {
  border: 2px solid rgb(255,200,0);
}

#joinextserverbtn:hover {
  background-color: rgb(255,200,0);
  color: rgb(255,0,0);
}


/* Scrollbar Stuffs */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(0,0,0,0);
  border-radius: 16px;
  width: 5px;
  transition-duration: 0.4s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 16px;
  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

/* Handle on activated */
::-webkit-scrollbar-thumb:active {
  background-color: #444;
}
