/* Dark */

body, form, p, span {color: rgb(203,189,189);}

a {color: rgb(232,23,23);}
a:visited, a:hover {color: rgb(207,121,23); }

#html {
  background-color: rgb(28,28,28);
  /*background-image: url("assets/images/background.png");*/
}

button, .button {
  background-color: rgb(35,35,35);
  border: 2px solid #4CAF50;
  color: rgb(203,189,189);
}

button:hover, .button:hover {
  background-color: #4CAF50;
  color: #FFFFFF;
}

.textbox {
  background-color: rgb(35,35,35);
  color: rgb(203,189,189);
}

.textboxdisabled {
  color: rgb(203,189,189,.5);
  background-color: rgb(40,40,40);
}

#messageboxwrapper { background-color: rgb(35,35,35); }

.context-menu {
  border: 1px solid #000000;
  background-color: rgb(35,35,35);
  color: rgb(203,189,189);
}

#serverlist-container { background-color: rgb(40,40,40); }

.serverlist-item { background-color: rgb(45,45,45); }

.serverlist-item:hover {
  border: 1px solid #4CAF50;
  background-color: rgb(45,45,45);
  box-shadow: 0 0 3px #4CAF50;
}

.serverlist-notif { background-color: #FFFFFF; }

#session_start_content {
  background-color: rgb(35, 35, 35);
  border: 1px solid rgb(40, 40, 40);
}

.loginpage_textbox {border: 1px solid rgb(30, 30, 30);}

.fullmessage:hover { background-color: rgb(50,50,50); }

#channels {
  background-color: rgb(40,40,40);
  border: 1px solid #000000;
}

.channel { background-color: rgb(40,40,40); }

.channel:hover { background-color: rgb(45,45,45); }

#serverlist-server-info {
  background-color: rgb(46,46,46);
  border: 1px solid #000000;
}

#serverlist-server-info:hover { background-color: rgb(50,50,50); }

#topbar { border-bottom: 1px solid #000000; }

#account-stuff {
  border-top: 1px solid #000000;
  background-color: rgb(45,45,45);
}