/* Light */

body, form, p, span {color: rgb(185,187,190);}

a {color: rgb(23,121,207);}
a:visited, a:hover {color: rgb(23,200,200); }

#html {
  background-color: #FFFFFF;
  //background-image: url("assets/images/images.jpeg");
}

button, .button {
  background-color: rgb(23,121,207);
  border: 2px solid rgb(23,200,200);
  color: #FFFFFF;
}

button:hover, .button:hover {
  background-color: rgb(23,200,200);
}

.textbox {
  background-color: rgb(148,206,156);
  color: #FFFFFF;
}

.textboxdisabled {
  color: rgb(203,189,189,.5);
  background-color: rgb(40,40,40);
}

#messageboxwrapper { background-color: rgb(148,206,156); }

.context-menu {
  border: 1px solid #000000;
  background-color: rgb(35,35,35);
  color: rgb(203,189,189);
}

#serverlist-container { background-color: rgb(185,187,190); }

.serverlist-item { background-color: rgb(45,45,45); }

.serverlist-item:hover {
  border: 1px solid #4CAF50;
  background-color: rgb(45,45,45);
  box-shadow: 0 0 3px #4CAF50;
}

.serverlist-notif { background-color: #FFFFFF; }

#session_start_content {
  background-color: rgb(35, 35, 35);
  border: 1px solid rgb(40, 40, 40);
}

.loginpage_textbox {border: 1px solid rgb(30, 30, 30);}

.fullmessage:hover { background-color: rgb(50,50,50); }

#channels {
  background-color: rgb(242,243,245);
  border: 1px solid rgb(35,35,35);
}

.channel { background-color: rgb(242,243,245); color: rgb(145,147,150); }

.channel:hover { background-color: rgb(195,197,200); }

#serverlist-server-info {
  background-color: rgb(242,243,245);
  border: 1px solid rgb(35,35,35);
  color: rgb(145,147,150);
}

#serverlist-server-info:hover { background-color: rgb(195,197,200); }

#topbar { border-bottom: 1px solid rgb(35,35,35); }

#account-stuff {
  border-top: 1px solid #000000;
  background-color: rgb(45,45,45);
}